<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.lovo.dao.ICarDao">
 <resultMap  id="car" type="CarBean">
		<id property="ziYuanId" column="pk_car_id"/>
		<id property="ThingId" column="fk_eventSourceId"/>
		<id property="plateNumber" column="f_plateNumber"/>
		<id property="state" column="f_state"/>
		<id property="sendData" column="f_outDate"/>
			<id property="BackDate" column="f_backDate"/>
	</resultMap>
	
  <select id="find" resultMap="car"  >
      select * from t_resourcestocks where pk_car_id =#{param1} 
  </select>
  
    <select id="findBitm" resultMap="car"  >
      select * from t_resourcestocks where fk_eventSourceId =#{param1} 
  </select>
  
   <select id="findAll" resultMap="car"  >
      select * from t_resourcestocks where f_state = '在线'
  </select>
  
	     
     <select id="systemCar"   resultType="int" >
      select COUNT(f_plateNumber) from t_resourcestocks 
   </select> 
  
     <select id="findByItem" resultMap="car" >
		select * from t_resourcestocks  where  1=1
          
          <if test="_parameter!=null">
				and f_plateNumber like "%"#{_parameter}"%"  
			</if>
			
				 
			
	    
	</select>
  
   <insert id="addCar"  parameterType="carBean">
  insert into t_resourcestocks values(null,#{ThingId},#{plateNumber},#{state},#{sendData},#{BackDate})
  </insert>
  
  <delete id="delCara"   >
    delete  from t_resourcestocks where pk_car_id =#{param1} 
 </delete>

<update id="updateCar" >
		update t_resourcestocks set f_plateNumber=#{param1} where pk_car_id=#{param2}
	</update>
	
	<update id="updateState" >
		update t_resourcestocks set f_state=#{param1} where f_plateNumber=#{param2}
	</update>
</mapper>