<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.lovo.dao.ICommonDao">

<resultMap type="commonEntity" id="commonEntity">
		<id property="commonID" column="pk_commonID" />
		<result property="type" column="f_type"/>
		<result property="key" column="f_key"/>
		<result property="value" column="f_value"/>
		
		<!-- 处理有一个的问题 -->
		<!-- <association property="continueEntityList" javaType="continueEntityList" column="fk_lock_id" select="getLockBylockId"/>	 -->	
	<!-- 处理有多个的问题 -->
		
	</resultMap>
	
	
	<!-- <resultMap type="lockBean" id="lockRM">
		<id property="id" column="lock_id" />
		<result property="type" column="f_type"/>		
	</resultMap> -->

  <select id="findAll" resultMap="commonEntity" >
    select * from t_common 
  </select>
 <!--  <select id="getContinueEntityListByThingId" resultMap="continueRM" >
    select * from  t_continue where fk_thingID=#{pk_thingID} 
  </select> -->
  
  
  <!-- <select id="find" resultMap="thingEntity" parameterType="map">
		select * from t_thing 

		<trim prefix="where" prefixOverrides="and /or">
			<if test="param1!=null"> 
				 f_thingName like "%"#{thingName}"%"
			</if>
			<if test="param2!=null">
				 f_area like "%"#{area}"%"  
			</if>
			<if test="param3!=null">
				 f_uploadDate &gt; #{startDate} 
			</if>
			<if test="param4!=null">
				 f_uploadDate &lt;; #{endDate}   
			</if>
			<if test="param5!=null">
				 f_thingType=#{thingType}  
			</if>
			<if test="param6!=null">
				 f_thingState=#{thingState}  
			</if>
		</trim>
	</select> -->
	
	<insert id="add" parameterType="commonEntity">
	insert into t_common(f_type, f_key, f_value) values(#{type},#{key},#{value})
	</insert>
	
	<update id="update">
		update t_common set
		f_key=#{param2} where
		pk_commonID=#{param1}
	</update>
	
	<delete id="del">
	delete from t_common where pk_commonID=#{param1}
	</delete>
	
	<select id="findById" resultMap="commonEntity">
	select * from t_common where pk_commonID=#{param1}
	</select>
	
	<select id="findByType" resultMap="commonEntity">
	select * from t_common where f_type=#{type}
	</select>
	
	
  
  
  
  
  
   <!-- <select id="getUserByUserId" resultType="userBean" >
    select * from t_user where id=#{id};
  </select> -->
  
<!--   <select id="getListUser" resultType="powerEntity" >
    select p.* from t_user u,t_userrole ur,t_role r,t_rolepower rp ,t_power  p 
    WHERE u.id=ur.userid AND ur.roleid=r.roleId and r.roleId=rp.roleid 
    AND rp.powerid=p.powerId AND u.id=1
  </select> -->
  

  
</mapper>