<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovo.dao.IUserDao"><!-- 映射器接口 -->
<!-- 配置映射关系（表中的列与JAVABEAN属性的映射） -->
	<resultMap id="userRM" type="userBean">
		<result property="userID" column="pk_userID"/>
		<result property="userName" column="f_userName"/>
		<result property="password" column="f_password"/>
		<result property="name" column="f_name"/>
		<result property="sex" column="f_sex"/>
		<result property="phone" column="f_phone"/>
<!-- 		<result property="roleEntity" column="f_work"/> -->
	</resultMap>
	<insert id="addUser" parameterType="UserBean">
		insert into t_user(f_userName,f_password,f_name,f_sex,f_phone)values(#{userName},#{password},#{name},#{sex},#{phone})
	</insert>

	<select id="login" resultMap="userRM" >
		select * from t_user where f_userName=#{param1} and f_password=#{param2}
	</select>
	
	<delete id="delUser" parameterType="UserBean"><!-- id映射器方法名  parameterType参数 -->
		delete from t_user where pk_userID=#{userID}
	</delete>
	
	<update id="updateUser">
		update t_user set  f_password=#{param1} where pk_userID=#{param2}
	</update>
	
	<select id="getListUser" resultMap="userRM" useCache="true">
		select * from t_user 
	</select>
	
	<select id="findByItem" resultMap="userRM" parameterType="map">
		select * from t_user 
		<trim prefix="where" prefixOverrides="and">
			<if test="sex!=null"> 
				and f_sex=#{sex}
			</if>
			<if test="name!=null">
				and f_name like "%"#{name}"%"  
			</if>
		</trim>
	</select>
	
	<select id="getUserByUserId" resultMap="userRM" parameterType="int">
		select * from t_user where pk_userID=#{userID}
	</select>
	
</mapper>