<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.lovo.dao.IEventDao">


  <select id="findAll"  parameterType="java.util.Map" resultType="eventBean" >
            select * from t_event where 1=1
			      
			
                <if test="eventNum!=null">
					and f_eventNum = #{eventNum}
				</if>  

				
				<if test="state!=null">
					and f_state = #{state}
				</if>
				
				<if test="stattime!=null">
					and f_time &gt; #{stattime}
				</if>
				
				<if test="endtime!=null">
					and f_time &lt; #{endtime}
				</if>
				
		

  </select>
  
  <select id="findcontByEvid" parameterType="int" resultType="continueBean" >
   select * from t_continue where t_e_pk_id = #{id}
 </select>
  
  

  
</mapper>