<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.lovo.dao.ResourcesDao">

  <select id="findResourByErid"  resultType="resourcesBean" >
         select * from t_resource where 
				  t_e_pk_id=#{id}
				   ORDER BY t_type 
  </select>
  
    <select id="findNumByEveid" parameterType="map"  resultType="dTOBean2" >
        SELECT SUM(re.f_perNum) pro,SUM(re.f_carNum) car  FROM t_event e,t_eventresource re where
      re.t_e_pk_id=e.pk_id AND e.pk_id=#{id}   AND re.f_type=#{type}
  </select>
  
    <select id="findResByArea" parameterType="string"  resultType="resourceareasBean" >
        select f_name,f_url from t_resourceareas  where f_type=#{param1}  and f_area=#{param2}
  </select>
  

  
  

  
</mapper>